<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <publishEndResultBatch>
                <processor type="Sandbox.Foundation.PublishingService.Pipelines.PublishEndResultBatch.PersistEndResultBatch, Sandbox.Foundation.PublishingService"
                           patch:after="*[@type='Sitecore.Publishing.Service.Pipelines.BulkPublishingEnd.RaiseRemoteEvents, Sitecore.Publishing.Service']" >
                    <MailFrom desc="Mail From">publishing-service@contoso.com</MailFrom>
                    <MailTo desc="Mail To">it-support@contoso.com</MailTo>
                </processor>
            </publishEndResultBatch>
        </pipelines>
    </sitecore>
</configuration>