<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/" 
               xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch">
		<pipelines>
			<group groupName="exm.messageEvents">
				<pipelines>
					<transformQueryString>
						<processor patch:instead="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.TransformQueryString.DecryptQueryString, Sitecore.EmailCampaign']"
								   type="Custom.Foundation.ExmExtensions.Pipelines.TransformQueryString.DecryptQueryString, Custom.Foundation.ExmExtensions">
							<param desc="queryStringEncryption" ref="queryStringEncryption" />
							<param desc="abortIfNotEncrypted">true</param>
							<param desc="oldCryptographicKey">EXM.PreviousCryptographicKey</param>
							<param desc="oldAuthenticationKey">EXM.PreviousAuthenticationKey</param>
							<fieldNames hint="list:RegisterFieldName">
								<contactId ref="settings/setting[@name='QueryStringKey.AnalyticsContactId']/@value" />
								<contactId ref="settings/setting[@name='QueryStringKey.ContactIdentifierSource']/@value" />
								<contactId ref="settings/setting[@name='QueryStringKey.ContactIdentifierIdentifier']/@value" />
								<messageId ref="settings/setting[@name='QueryStringKey.MessageId']/@value" />
								<redirectUrl ref="settings/setting[@name='QueryStringKey.RedirectUrl']/@value" />
								<targetLanguage ref="settings/setting[@name='QueryStringKey.TargetLanguage']/@value" />
								<testValueIndex ref="settings/setting[@name='QueryStringKey.TestValueIndex']/@value" />
								<emailHistoryEntryId ref="settings/setting[@name='QueryStringKey.EmailHistoryEntryId']/@value" />
							</fieldNames>
						</processor>
					</transformQueryString>
				</pipelines>
			</group>

		</pipelines>
	</sitecore>
</configuration>