<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                @Html.Sitecore().Placeholder("form")
            </div>
        </div>
    </div>
</section>