<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Custom.Foundation.Forms.Services.IXdbContactService, Custom.Foundation.Forms" 
                implementationType="Custom.Foundation.Forms.Services.XdbContactService, Custom.Foundation.Forms" />
    </services>
  </sitecore>
</configuration>