<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <forms.executeSubmit>
        <processor type="Custom.Foundation.Forms.Pipelines.ExecuteSubmit.RegisterInteraction, Custom.Foundation.Forms"
                   patch:before="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.StoreFiles, Sitecore.ExperienceForms']"
                   resolve="true" />
      </forms.executeSubmit>
    </pipelines>  
  </sitecore>
</configuration>