<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
	<!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
	<add name="core" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Core"/>
	<add name="security" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Security"/>
	<add name="master" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Master"/>
	<add name="web" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Web"/>
	<add name="messaging" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore.Messaging"/>
	<add name="xdb.marketingautomation" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_MarketingAutomation"/>
	<add name="xdb.processing.pools" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Processing.Pools"/>
	<add name="xdb.referencedata" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_ReferenceData"/>
	<add name="xdb.processing.tasks" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Processing.Tasks"/>
	<add name="experienceforms" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_ExperienceForms"/>
	<add name="exm.master" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_EXM.Master"/>
	<add name="reporting" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Analytics"/>
	<add name="sitecore.reporting.client" connectionString="https://Sitecore_xconnect/"/>
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue="/>
	<add name="solr.search" connectionString="https://localhost:8994/solr"/>
	<add name="sitecoreidentity.secret" connectionString="Set client secret for Sitecore Identity server here."/>
	<add name="xconnect.collection" connectionString="https://Sitecore_xconnect"/>
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue="/>
	<add name="xdb.marketingautomation.operations.client" connectionString="https://Sitecore_xconnect"/>
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue="/>
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://Sitecore_xconnect"/> 
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue="/>
	<add name="xdb.referencedata.client" connectionString="https://Sitecore_xconnect"/>
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue="/>

	<!-- Encryption and Authentication Keys -->
	<add name="EXM.CryptographicKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000"/>
	<add name="EXM.AuthenticationKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000"/>
	<add name="EXM.PreviousAuthenticationKey" connectionString="1x0000000000000000000000000000000000000000000000000000000000000000" />
	<add name="EXM.PreviousCryptographicKey" connectionString="1x0000000000000000000000000000000000000000000000000000000000000000" />
	
	<add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/"/>

</connectionStrings>