<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Conditions" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Abstractions" version="3.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="9.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model" version="9.3.0" targetFramework="net48" />
</packages>