<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=NLCJANWKS\SQLEXPRESS;Initial Catalog=sitecoresandbox_sc81rev151207Sitecore_core;Integrated Security=True" />
  <add name="master" connectionString="Data Source=NLCJANWKS\SQLEXPRESS;Initial Catalog=sitecoresandbox_sc81rev151207Sitecore_master;Integrated Security=True" />
  <add name="web" connectionString="Data Source=NLCJANWKS\SQLEXPRESS;Initial Catalog=sitecoresandbox_sc81rev151207Sitecore_web;Integrated Security=True" />
  <add name="analytics" connectionString="mongodb://localhost:27017/sitecoresandbox_sc81rev151207_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/sitecoresandbox_sc81rev151207_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/sitecoresandbox_sc81rev151207_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/sitecoresandbox_sc81rev151207_tracking_contact" />
  <add name="reporting" connectionString="Data Source=NLCJANWKS\SQLEXPRESS;Initial Catalog=sitecoresandbox_sc81rev151207Sitecore_reporting;Integrated Security=True" />
</connectionStrings>